@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
  font-size: 62%;
}
html,
body {
  height: 100vh;
  margin: 0;
  color: #555;
  font-size: 16px;
  line-height: 1.625;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
// body{
//   margin-top:-250px;
// }
*, *::before, *::after {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container{
  max-width: 960px;
  margin: 50px auto;
}

.page-title{
  text-align: left;
  line-height: 2;
  margin-bottom: 2rem;
  padding-bottom:2rem;
  border-bottom: 1px solid #ddd;
}

p {
  letter-spacing: 2px;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 1.8;
  font-weight: 400;
}

a{
  text-decoration: underline;
  font-weight: bold;
  color:#36c;
}

ul{
  list-style: none;
}

.section{
  text-align: center;
  padding: 50px 80px;
  &-title{
    font-weight: 700;
    font-size: 3.6rem;
    margin-bottom:1rem;
    text-transform: uppercase;
  }
  &-sub-title{
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.section-one {
  background-color: rgb(245, 245, 245);
  color: rgb(51, 51, 51);
  min-height: 500px;
}

.section-two {
  background-image: url('https://images.unsplash.com/photo-1611513940806-80d6ed9fd7cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  min-height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 50px 80px;
  color:#fff;
}

.section-three {
  background-color: rgb(245, 245, 245);
  color: rgb(51, 51, 51);
  min-height: 500px;
  opacity: 0.9;
}

.section-four {
  background-image: url('https://images.unsplash.com/photo-1581832097375-e95cc1fcb3d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  min-height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 50px 80px;
  color:#fff;
}

.section-five {
  background-color: rgb(245, 245, 245);
  color: rgb(51, 51, 51);
  min-height: 500px;
}


@media only screen and (min-width: 300px) {
  span {
    line-height: 1.6em;
  }
}
@media only screen and (max-width: 300px) {
  .hero, .section-two, .section-four {
    background-attachment: scroll;
  }
}
