.header{
    margin: 0 auto;
    text-align: center;
    margin-top:18%;
}

.headerTitle{
    font-size: 4rem;
    font-weight: 700;
  }
  .headerSubTitle{
    font-size: 4rem;
    font-weight: 300;
    margin-bottom:2rem;
  }