.header{
    margin: 0 auto;
    text-align: center;
    margin-top:50%;
    @media(min-width:768px) {
      margin-top:15%;
    }

    a{
        background-color:#df8f27;
        color:#fff;
        padding: .8rem 1rem;
        text-decoration: none;
        border-radius: 4px;
        font-size: 1.5rem;
        &:hover{
          background-color: #b7741c;
        }
    }
}

.headerTitle{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.25;
    margin-bottom:1rem;
    @media(min-width:768px){
      font-size: 4rem;
    }
  }
  .headerSubTitle{
    font-size: 2rem;
    line-height: 1.25;
    @media(min-width:768px){
      font-size: 4rem;
    }
    font-weight: 300;
    margin-bottom:2rem;
  }