.hero{
    background-image: url('https://images.unsplash.com/photo-1515162305285-0293e4767cc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding:2rem;
    color:#fff;
    text-align: center;
    font-size: 2rem;
    @media(min-width: 768px) {
      padding: 50px 80px;
    }
  }

  .heroTitle{
    font-size: 6rem;
    font-weight: 700;
  }

  .heroSubTitle{
    font-size: 4rem;
    font-weight: 300;
  }