.nav{
    display: block;
    padding:1rem 2rem;
    align-items: center;
    min-height: 1px;
    z-index: 999;
    margin: 1rem auto;
    background-color: transparent;
    font-weight: 400;
    position: absolute;
    width: 100%;

    @media(min-width:768px){
        padding: 2rem;
        display: flex;
        gap: 2rem;
        margin-top:1rem;
    }
    @media(min-width:1344px){
        padding: 2rem 6rem;
    }
    @media(min-width:1040px){
        display: flex;
        justify-content: space-between;
    }
    @media(max-width: 767px){
        display: flex;
        justify-content: space-between;
    }
    h1{
        
        border-radius: 4px;
        text-align: center;
        color:black;
        padding: .5rem .6rem;
        font-weight: 700;
        font-size: 2rem;
        margin-bottom:1rem;
        @media(min-width:1040px){
            margin-bottom:0;
            background-color:#fff;
            font-size: 1rem;
        }
        @media(max-width:767px){
            background-color:#fff;
            font-size: 1rem;
            margin-bottom:0;
        }

    }
    ul{
        list-style: none;
        display: flex;
      
        gap: 1rem;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.1rem;
            color:#fff;
                &:hover{
                    text-decoration: under;
                    color:#ccc;
                }
        }

        &.mobileNav{
            position: absolute;
            height: auto;
            width: 100%;
            left:0;
            top:8%;
            padding-left:2rem;
            transform: translateX(-200%);
            transition: transform 300ms ease-in-out;
            background-color: #fff;
            padding: 1em;
            z-index: 999;
            display: block;
            li{
                line-height: 2;
                padding-left:1rem;
                a{
                    color:#000;
                    width:100%;
                    display: block;
                }
            }
            &.isOpen{
                transform: none;
            }
        }
    }

    .logo{
        cursor: pointer;
        background-color:#fff;
        width:80px;
        a{
            text-decoration: none;
            color:#000;
            cursor: pointer;
        }
    }
    
}



